<div class="bg-light" id="backgroundColor">
    <hr>
    <small>
        CST 336: Internet Programming. 2019&copy; Meyer and Thien <br/>
        Used for academic purpose only.
    </small>
    <figure>
        <img src="images/CSUMB_logo.jpg" alt="California State University Monterey Bay logo"/>
    </figure>
</div>
</body>
</html>